# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.development
.env.production
.env.test

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
ui-debug.log
database-debug.log
firestore-debug.log

# history files
.history/
.history

#keys
/_keys
**/keys/
**/*.key

# function dependencies
/functions/node_modules
/functions/lib

# Prevent nested app folders
/src/app/app
/src/app/*/app

# Temporary files
*.tmp
*.temp
*.bak

# Environment configuration files (other than .env)
.env.*.local
*.env.json

# VSCode settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Git secrets
replacements.txt
*.swp
